
.contai{
	background: rgba(2, 2, 2, 0.9);
	width: 240px;
	height: 40px;
	margin-top: 30px;
	border-radius: 10px;
    margin-left: 990px;
    
}

.s-txt{
	border:none;
	outline:none;
	width: 200px;
	height: 23px;
	margin-top: 9px;
	margin-left: 5px;
	border-radius: 5px;
    font-size: 15.4px;
    background: transparent;
    color: aliceblue;
	

}
label{
    color:#4DD0E1;
    font-size: 20px;
    margin-left:-2px;
}