
  .img{
    width: 400px;
    height: 270px;
    margin: 0;
    background-image: url(../img/c_p4.jpg);
    background-image:no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 55px;
    margin-left: 180px;
    display: inline-block;

  
    
  }
  a{
    color:#000;
  }
  
  .info{
    position: absolute;
    width: 400px;
    height: 270px;
    background-color: rgba(2, 2, 2, 0.9);
    -webkit-transition:opacity .2s;
    opacity: 0; 
    border-radius: 5px;
  
  
  }
  .img:hover .info{
    opacity: 1;
  }
  .hdline{
    margin-top: 50px;
    background: #fff;
    font-size: 27px;
    -webkit-transition:margin .3s;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    
  }
  .img:hover .hdline{
   

  }
  .info2{
    position: absolute;

    width: 350px;
    -webkit-transition:margin .5s;
    margin-top: 160px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #fff;
  
  }
  .img:hover .info2{
    margin-top: 50px;
    margin-left: 20px;
  }

  #doct{
    background: #000;
    color: #fff;
    width: 270px;
    border-radius: 10px;
    margin-left: 39.5%;
    margin-top: 20px;
    text-align: center;
    font-size: 37px;
  }
  
