*{
    font-family: sans-serif;
}
body{

    background-image:url(../img/c_p1.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{

	padding: 5px 0px 0px 60px;
	margin-top: 60px;
	background: darkgray;
	width: 300px;
	height: 270px;
}
.content h2{
    
}
.content input{
    width: 100%;
    max-width: 90%;
    height: 27px;
}
.content label{
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}
.content input[type="text"]{
    width: 237px;
    outline: none;
    border:none;
    margin-bottom:7px;
}
.content input[type="password"]{
    width: 237px;
    outline: none;
    border:none;
    margin-bottom:7px;
}
.content input[type="submit"]{
    width: 237px;
    outline: none;
    border:none;
    margin-bottom:7px;
}
