*{
	font-family: sans-serif;

}
.fr{
	margin: 50px auto;
	padding: 5px 0px 30px 40px;
	margin-top: 50px;
	background: rgba(2, 2, 2, 0.9);
	width: 450px;
    height: 540px;
    border-radius: 10px;
}
.fr label{
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 0 #000;

}
.fr h1{
    margin-top: 5px;
    margin-left: 65px;
    color: #fff;
    text-shadow: 0 3px 0 #000;
}
.fr input{
	width: 100%;
	max-width: 90%;
	height: 27px;
}

.fr input[type="text"]{
	border:none;
	outline: none;
	border-bottom: 3px solid #4DD0E1;
	border-radius: 5px;
	font-size: 15px;
	transition: all .2s;
	cursor: pointer;
}
.fr select{
	border:none;
	outline: none;
    width: 100%;
	max-width: 90%;
	height: 27px;
	border-bottom: 3px solid #4DD0E1;
	border-radius: 5px;
	font-size: 15px;
	transition: all .2s;
	cursor: pointer;
    
}
.fr input[type="text"]:hover{
	border-bottom: 3px solid #000;
}

.fr select:hover{
	border-bottom: 3px solid #000;

}
.fr input[type="submit"]{
	width: 200px;
	height: 30px;
	margin-top: 10px;
	margin-left: 90px;
	border:none;
	outline: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	transition: all .2s;
	background: #4DD0E1;

}
.fr input[type="submit"]:hover{
	background: rgb(0, 9, 34);
	color: #fff;

}