
#main{
    margin: 0px auto;
    margin-top:30px;
    width: 1117px;
    
}
h2{
    margin-left: 130px;
    margin-top: -37px;
    color:rgb(0, 44, 19);
    margin-bottom: 10px;
}
table{
    
    margin-left: 0px;
    background: #fff;
    text-align: left;
    border: none;
    border-collapse: collapse;
    width: 100%;
   
}
th, td{
    padding: 20px;
    text-align: center;
    
    
}
.had{
    background: #000;
    
    padding:7px;
    border-bottom: solid 5px #fff;
    color: #fff;
    font-size:17px;
    font-weight: bold;
}
thead{
    background-color: #fff;
    color: #000;
    font-size:25px;
    text-shadow:0 1.5px 0  #4DD0E1;
    
}
tr:nth-child(even){
    background-color: rgb(122, 208, 241);
}
a{
    
    text-decoration: none;
    color: #000;
   
}
a:hover{
    
    color: rgb(0, 48, 27);
}
